MONGO_URI= 
MONGO_DB_NAME= 

API_KEY=    <= Literalmente le pueden poner lo que quieran/ pueden utilizar esta página https://www.uuidgenerator.net/.
JWT_SECRET= <= Literalmente le pueden poner lo que quieran/ pueden utilizar esta página https://www.uuidgenerator.net/.

https://jwt.io/